* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.dashboard-links {
    margin: 2px;
    border: 2px solid black;
    width: 100%;
    height: 200px;
    display: flex;
}

.content {
    background-color: hsl(0, 0%, 96%);
    margin: 2px 0 10px 2px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    border: 2px solid red;
}

.container {
    margin : 10px 2px 10px 100px;
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: space-evenly;
    align-items: flex-start;
    float: left;
}

.container > div {
    background-color: white;
    margin: 10px 10px 10px 10px;
    width: 100%;
    flex-basis: 180px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 15px;
}

.side-container {
    margin: 10px 10px 10px 10px;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.side-container > div {
    margin: 40px;
    flex-basis: 200px;
    box-shadow: 5px 5px 15px;
}

.footer {
    display: flex;
    border: 2px solid black;
    width: 100%;
    height: 200px;
    background-color: #333;
}