
header {
    padding: 10px;
    background-color: hsl(0, 0%, 96%);
    height: 40px;
}

.headerLinks {  
    display: flex;
    flex-direction: row nowrap;
    float: right;
    
}

.headerLinks > div {
    margin: 0 20px 0 20px;

}
.headerLinks a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
}

.headerLinks a:hover {
    color: rgba(0, 0, 0, 0.6);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}